// Specific CSS for your home-page
body {
  background-color: $white;
}

.banner {
  background-image: asset-url('Banner.png');
  height: 350px;
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  display: -ms-flexbox;
  display: flex;
  position: relative;
   -ms-flex-align: center;
  align-items: center;
}

.banner h1 {
  position: absolute;
  left: 3%;
  right: 20%;
  top: 65%;
  mix-blend-mode: normal;
  color: white;
  opacity: 1;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.arguments {
  background-color: #EEEEEE;
  height: auto;
}

.header h1 {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 110%;
  display: flex;
  align-items: center;
  color: #FFFFFF;
}

#links {
  text-decoration: none;
}

.testimonial {
  width: 350px;
  height: 250px;
}

.testimonial-text {
// 
}

.avatar-testimony {
// 
}

