<div class="footer">
  <div class="footer-copyright">
    <p class="text-white mb-0 font-weight-bold"><i class="far fa-copyright"></i>Plus un. Tous droits reservés.</p><i class="">
  </div>
  <div class="logo">
    <i class="fab fa-cc-mastercard" style="font-size: 32px; color: white; margin: 0px 3px;"></i>
    <i class="fab fa-cc-visa"       style="font-size: 32px; color: white; margin: 0px 3px;"></i>
    <i class="fab fa-cc-amex"       style="font-size: 32px; color: white; margin: 0px 3px;"></i>
  </div>
</div>
