.btn.btn-lg.btn-block.btn-primary {
  position: absolute;
  width: 380px;
  height: 40px;
  left: 40px;
  top: 600px;

  background: #EF233C;
  border: 1px solid #EF233C;
  border-radius: 5px;
}

// .form-control {
//   width: 380px;
//   height: 40px;
//   background: #FFFFFF;
//   border: 1px solid #8D99AE;
//   border-radius: 5px;
// }

#dinner {
  float: right;
  position: absolute;
  width: 960px;
  height: 800px;
  left: 476px;
  top: 0px;
}
