/* --- BUTTONS --- */

.btn.btn-sm.btn-primary {
  width: 100px;
  height: 40px;
  background: #EF233C;
  border: 1px solid #EF233C;
  border-radius: 5px;
  color: white;
  font-size: 1rem;
  line-height: 30px;

  &:hover{
   background-color: #D90429;
   color: white;
  }
}

.button-menu {
  margin-top: -15px;
}

.container5{
  width: 30%;
}

.btn.btn-sm.btn-secondary {
  width: 100px;
  height: 40px;
  margin-right: 8px;
  background: white;
  border: 1px solid #EF233C;
  border-radius: 5px;
  color: #EF233C;
  font-size: 1rem;
  line-height: 30px;
}

.buttonindex {
   padding: 20px;
   background: white;
   border: 1px;
   border-radius: 5px;
   color: #D90429;
   font-weight: bold;
   font-size: 1rem;
   line-height: 30px;
   opacity: 1;

  &:hover{
   background-color: #D90429;
   color: white;
  }
}

a.buttonindex {
  text-decoration: none;
}

.button-module--cta--MUy1m {
  width: 250px;
  height: 40px;
  margin-right: 8px;
  background: white;
  border: 1px;
  border-radius: 5px;
  color: #D90429;
  font-weight: bold;
  font-size: 1rem;
  line-height: 30px;
  opacity: 1;

 &:hover{
  background-color: #D90429;
  color: white;
 }
}



.btn.btn-sm.btn-secondary:hover, .nav-link.btn.btn-sm.btn-secondary:hover {
  background: #EF233C;
  color: white;
  font-size: 1rem;
}

.btn-dashboard {
  width: 250px !important;
  border: 2px solid white !important;
  text-transform: uppercase;
  font-weight: bold;
}

.btn:active, .btn:focus {
  border: none;
  box-shadow: none;
}

.sign {
  width: 380px;
  height: 40px;
  background: #FFFFFF;
  border: 1px solid #8D99AE;
  border-radius: 5px;
}

