.card-service {
  position: relative;
  width: 250px;
  height: 345px;
  background: #FFFFFF;
  border: 1px solid #EDF2F4;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.card-service-banner {
  background-image: url(card_image.png);
  background-size: cover;
  height: 175px;
  color: white;
  font-size: 20px;
}

.card-service-banner .avatar-bordered {
  position: absolute;
  left: 5%;
  right: 70%;
  top: 30%;
  bottom: 50%;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: white 3px solid;
  object-fit: cover;
}

#first_name {
  position: absolute;
  left: 31%;
  right: 30%;
  top: 36%;
  bottom: 50%;
  line-height: 100%;
  color: white;
  opacity: 1;
  text-decoration: none;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.card-service-price {
  position: absolute;
  left: 70%;
  right: 5%;
  top: 85%;
  bottom: 5%;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 70%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #EF233C;
}

#per_hour {
  font-size: 16px;
  color: #EF233C;
}