.footer {
  background: #8D99AE;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}

// .text-white {
//   color: white;
// }

.logo {
  color: white
}
