.navbar-lewagon {
  justify-content: space-between;
  background: white;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

